<!-- <app-destino-viaje *ngFor="let destino of this.destinos" [nombre]="destino"></app-destino-viaje> -->

<div class="container benefits">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Lista de deseos</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row flex">
        REDUX trackingTags (Cantidad de clicks): {{trackingTags}}
    </div>
    <div class="row flex">
        <app-destino-viaje appEspiame
        *ngFor="let viaje of viajes; index as i" 
        [destino]="viaje" 
        [idx]="i+1" 
        (voto)="votado(viaje,$event)"
        (eliminando)="eliminado(viaje)"
        (clicked)="elegido(viaje)"></app-destino-viaje>
    </div>
    <hr class="mb-1">
    <div class="row">
        <h5 class="col-12">Actividad:</h5>
        <ul class="col-12">
            <li *ngFor="let u of updates">{{u}}</li>
        </ul>
    </div>
</div>