<div class="page-header">
  <div style="float: right;">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>
</div>
<div class="container">
  <div class="page-header">
    <div class="container">
      <!-- <h1>Ruteo Simple</h1> -->
      <div class="navLinks">
        <a class="m-2" [routerLink]="['/home']">Home</a>
        <a class="m-2" [routerLink]="['/destino']">Destino</a>
        <a class="m-2" [routerLink]="['/login']">Login</a>
        <a class="m-2" [routerLink]="['/protected']">Protegido-<em>(Guard)</em></a>
        <a class="m-2" [routerLink]="['/vuelos']">Vuelos-<em>(Guard)</em></a>
        <a class="m-2" [routerLink]="['/reservas']">Reservas</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <h5><b [innerHTML]="'bienvenido' | translate"></b></h5>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">
Fecha: {{ time | async}}