<div class="card-content" [@esFavorito]="destino.isSeleccionado() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{posicion}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color:red">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <div class="row">
            <a class="col-l-5 btn-card m-1" (click)="ir()">Favorito</a>
            <a class="col-l-5 btn-card m-1" [routerLink]="['/destino']">Ir Destino</a>
            <span class="p-3" *ngIf="destino.isSeleccionado()">
                <span ngNonBindable>{{PREFERIDO}}</span>
            </span>
        </div>
        <div class="row">
            <a class="col-l-5 btn-card m-1" (click)="votar(1)" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">Me gusta</a>
            <a class="col-l-5 btn-card m-1" (click)="votar(-1)" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">No gusta</a>
            <span class="p-3"> Votos {{destino.voto}}</span>
        </div>
        <div class="row">
            <a class="col-l-5 btn-card m-1" (click)="eliminar()">Eliminar</a>
        </div>
    </div>
</div>